<div class = "col-sm-8 bg-success">
  <div id="bubbles">
    <div class="bubble-wrap">
      <div class="bubble left">
        <b>Welcome to the personal chat!</b><br>
           You can now chat privately with <%= name %> in this room.
           Sec id is <%= id %>
      </div>
    </div>
  </div> 
  </div>